.yellow-team, .black-team {
    margin-right: 6px;
    margin-bottom: 3px;
    font-size: 11px;
    padding: 2px;
}

.yellow-team {
    background-color: rgb(197, 174, 0);
}

.black-team {
    background-color: black;
}

#tablecontainer {
    display: inline-block;
    position: relative;
    width: 100%;
}

#tabledummy {
    padding-top: 125%;
}

#tableinnercontainer {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.foostable {
    text-overflow: ellipsis;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    height: 100%;
}

.foostable td, .foostable th {
    width: 20%;
    height: 20%;
    padding: 0;
}

.foostable thead th {
    vertical-align: middle;
    text-align: center;
    height: 10px;
    font-size: 10px;
}

.foosguy {
    background: #aebcbf;
    background: -moz-radial-gradient(center, ellipse cover, #aebcbf 0%, #6e7774 48%, #0a0e0a 49%, #ffffff 61%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #aebcbf), color-stop(48%, #6e7774), color-stop(49%, #0a0e0a), color-stop(61%, #ffffff));
    background: -webkit-radial-gradient(center, ellipse cover, #aebcbf 0%, #6e7774 48%, #0a0e0a 49%, #ffffff 61%);
    background: -o-radial-gradient(center, ellipse cover, #aebcbf 0%, #6e7774 48%, #0a0e0a 49%, #ffffff 61%);
    background: -ms-radial-gradient(center, ellipse cover, #aebcbf 0%, #6e7774 48%, #0a0e0a 49%, #ffffff 61%);
    background: radial-gradient(ellipse at center, #aebcbf 0%, #6e7774 48%, #0a0e0a 49%, #ffffff 61%);
}

.gscore {
    font-size: 18px;
    padding: 3px;
}
