%%%
%%% CHICAGO BOSS PROJECT SKELETON
%%%
%%% This file can be modified by you to avoid you needing to reenter
%%% defaults when creating new projects.  For full configuration
%%% details, please visit
%%% https://github.com/evanmiller/ChicagoBoss/wiki/Configuration

%%% When running tests, you may want to create a separate configuration file
%%% "boss.test.config" which, if present, will be read instead of boss.config.

[{boss, [
    {applications, [foosball]},
    {assume_locale, "en"},

%%%%%%%%%%%%
%% System %%
%%%%%%%%%%%%

%% vm_cookie - Erlang cookie, must be the same for all nodes in the
%%   cluster.

%% vm_name - Node name to use in production. Must be unique for all
%%   nodes in the cluster. Defaults to <application_name>@<host_name>.
%% vm_max_processes - The limit of processes that the VM is allowed to
%%   spawn. Defaults to 32768 (the usual system default).

%    {vm_cookie, "secret"},
%    {vm_name, "leader"},
%    {vm_max_processes, 32768},

    {db_port, 5432},
    {db_adapter, pgsql},
    {db_username, "foosball"},
    {db_password, "foosball"},
    {db_database, "foosball"},
    {port, 8001},
    {server, cowboy},


%%%%%%%%%%%%%%
%% Sessions %%
%%%%%%%%%%%%%%

%% session_adapter - Selects the session driver to use. Valid values:
%%   cache - Store sessions in the configured cache
%%     servers. Requires cache_enable to be set to true.
%%   ets (default)
%%   mnesia

%% session_enable - Whether to enable sessions. Defaults to true.
%% session_key - Cookie key for sessions. Defaults to "_boss_session".
%% session_exp_time - Expiration time in seconds for the session
%%   cookie. Defaults to 525600, i.e. 6 days, 2 hours.
%% session_mnesia_nodes, for {session_adapter, mnesia} only - List of
%%   Mnesia nodes, defaults to node(). 
%% session_domain - (optional, sets the Domain=x cookie option), 
%%   this can be used by ex: to enable subdomain apps 
%%     (*.domain.com) with the param ".domain.com" => {session_domain,
%%     ".domain.com"}

    {session_adapter, mock},
    {session_key, "_boss_session"},
    {session_exp_time, 525600},
%    {session_enable, true},
%    {session_mnesia_nodes, [node()]}, % <- replace "node()" with a node name
%    {session_domain, ".domain.com"},

%%%%%%%%%%%%%%%
%% Templates %%
%%%%%%%%%%%%%%%

%% template_tag_modules - List of external modules to search for
%%   custom ErlyDTL tags.
%% template_filter_modules - List of external modules to search for
%%   custom ErlyDTL filters.
    {template_tag_modules, []},
    {template_filter_modules, []},

%%%%%%%%%
%% SSL %%
%%%%%%%%%

%% ssl_enable - Enable HTTP over SSL
%% ssl_options - SSL options; see ssl(3erl)

%    {ssl_enable, true},
%    {ssl_options, []},

     {dummy, true} % a final dummy option so we don't have to keep track of commas
]},

%% MESSAGE QUEUE

{ tinymq, [
%% max_age- Maximum age of messages in the [message queue], in
%%   seconds. Defaults to 60.
    % {max_age, 60}
]},

%%%%%%%%%%%%%
%% Logging %%
%%%%%%%%%%%%%

%% Lager default config. 
%% More info: https://github.com/basho/lager 

{lager, [
    {handlers, [
      {lager_console_backend, info},
      {lager_file_backend, [
        {"log/error.log", error, 10485760, "$D0", 5},
        {"log/console.log", info, 10485760, "$D0", 5}
      ]}
    ]}
  ]},

%% APPLICATION CONFIGURATIONS

%% domains - A list of domains to serve the application on
%% static_prefix - The URL prefix of static assets
%% doc_prefix - The URL prefix for developer documentation
{ foosball, [
    {base_url, "/"},
%    {domains, all},
%    {static_prefix, "/static"},
%    {doc_prefix, "/doc"},

    {dummy, true}
]}
].
