<div class="container">
    <div class="row" style="margin-bottom: 10px;">
        <h4>Game [[ data.this.id ]]
            <small>
                <a href="#/"
                   class="btn btn-small btn-primary pull-right">home</a>
            </small>
        </h4>
    <span class="label label-info [[ player.team ]]-team"
          ng-repeat="player in data.players">
        [[ player.name ]]
    </span>
    </div>
    <div class="row">
        <div class="alert alert-warning" ng-show="result">
            <button type="button" class="close"
                    data-dismiss="alert">&times;</button>
            [[ result ]]
        </div>
    </div>
    <div class="row">
        <div id="tablecontainer">
            <div id="tabledummy"></div>
            <div id="tableinnercontainer">
                <table class="table table-bordered foostable">
                    <thead>
                    <tr>
                        <th>Goalie</th>
                        <th>Defense</th>
                        <th>5-Man</th>
                        <th>Offense</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="foosguy" ng-click="guy='G1'"
                            data-toggle="modal" href="#scoremodal"></td>
                        <td></td>
                        <td class="foosguy" ng-click="guy='51'"
                            data-toggle="modal" href="#scoremodal"></td>
                        <td class="foosguy" ng-click="guy='O1'"
                            data-toggle="modal" href="#scoremodal"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="foosguy" ng-click="guy='D2'"
                            data-toggle="modal" href="#scoremodal"></td>
                        <td class="foosguy" ng-click="guy='52'"
                            data-toggle="modal" href="#scoremodal"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="foosguy" ng-click="guy='G3'"
                            data-toggle="modal" href="#scoremodal"></td>
                        <td></td>
                        <td class="foosguy" ng-click="guy='53'"
                            data-toggle="modal" href="#scoremodal"></td>
                        <td class="foosguy" ng-click="guy='O3'"
                            data-toggle="modal" href="#scoremodal"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="foosguy" ng-click="guy='D4'"
                            data-toggle="modal" href="#scoremodal"></td>
                        <td class="foosguy" ng-click="guy='54'"
                            data-toggle="modal" href="#scoremodal"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="foosguy" ng-click="guy='G5'"
                            data-toggle="modal" href="#scoremodal"></td>
                        <td></td>
                        <td class="foosguy" ng-click="guy='55'"
                            data-toggle="modal" href="#scoremodal"></td>
                        <td class="foosguy" ng-click="guy='O5'"
                            data-toggle="modal" href="#scoremodal"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div id="scoremodal" class="modal fade" tabindex="-1" role="dialog"
         aria-labelledby="scorelabel" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 id="scorelabel">score from [[ guy ]]</h3>
                </div>
                <div class="modal-body">
                    <button class="btn btn-small btn-primary"
                            data-dismiss="modal"
                            ng-click="confirmscore('typical')">Typical
                    </button>
                    <button class="btn btn-small btn-primary"
                            data-dismiss="modal"
                            ng-click="cancelscore()">
                        Bank
                    </button>
                    <button class="btn btn-small btn-danger"
                            data-dismiss="modal"
                            ng-click="endscore()">Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>